# docker-compose.yml
# لتشغيل قاعدة بيانات PostgreSQL معزولة للمشروع.
version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: suwayq_user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: suwayq_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: